## Settings file was created by plugin LogNeuter v1.0.2
## Plugin GUID: BlueAmulet.LogNeuter

[Config]

## Disable broken spatialize on audio sources
# Setting type: Int32
# Default value: 1
Version = 1

## Disable broken spatialize on audio sources
# Setting type: Boolean
# Default value: true
FixSpatializer = true

## Mask "Look rotation viewing vector is zero" messages
# Setting type: Boolean
# Default value: true
FixLookRotation = true

## Generate a config file that blocks all logging
# Setting type: Boolean
# Default value: false
GenBlockAll = false

[GameNetcodeStuff.PlayerControllerB|Update]
Started spectating

[ShipBuildModeManager|Update]
^yoffset: .*?$
^.*?$

[StartOfRound|RefreshPlayerVoicePlaybackObjects]
^Skipping player \#.*? as they are not controlled or dead$

[GrabbableObject|Update]
^Object .*? falling .*?$
^Object .*?hit ground false\? : .*?$

[PlayAudioAnimationEvent|PlayAudio2RandomClip]
Playing random clip 2

[RoundManager|AssignRandomEnemyToVent]
^enemy \#.*? probability - .*?$
^Enemy .*? could not be spawned\. current power count is .*?; max is .*?\.$
^Round manager: No more spawnable enemies\. Power count: .*? Max: .*?$
^ADDING ENEMY \#.*?: .*?$
^Adding .*? to power level, enemy: .*?$

[GameNetcodeStuff.PlayerControllerB|IsInSpecialAnimationClientRpc]
Setting animation on client

[EnemyAI|SwitchToBehaviourStateOnLocalClient]
^Current behaviour state: .*?$
^CHANGING BEHAVIOUR STATE!!! to .*?$

[RoundManager|AdvanceHourAndSpawnNewBatchOfEnemies]
^Could not spawn more enemies; vents \#: .*?\. CannotSpawnMoreInsideEnemies: .*?$

[SoundManager|PlayAmbientSound]
^soundtype: .*?; lastSound: .*?$

[EnemyAI|KillEnemyOnOwnerClient]
^Kill enemy called! destroy: .*?$
Kill enemy called on server, destroy true

[PowerSwitchable|OnPowerSwitch]
Power switched event invoked by powerswitchable

[AnimatedObjectTrigger|PlayAudio]
^bool val: .*?$

[StartOfRound|ReviveDeadPlayers]
Reviving players A
Reviving players B
Reviving players C
Reviving players D
Reviving players E
Reviving players E2
Reviving players F
Reviving players G
Reviving players H

[DepositItemsDesk|SetTimesHeardNoiseServerRpc]
NOISE D

[DepositItemsDesk|Update]
^Desk: Waiting to grab the items on the desk; .*?$
^Desk: no objects on counter, waiting with door open; .*?$

[Terminal|TextPostProcess]
^isDemo:.*? ; .*?$
